# /node_modules
# /public/hot
# /public/storage
# /storage/*.key
# /vendor
# /.idea
# /.vagrant
# Homestead.json
# Homestead.yaml
# npm-debug.log
# yarn-error.log
# /.vscode
.env
# .gitattributes
# .gitignore
# .htaccess
# artisan
# composer.json
# package.json
# phpunit.xml
# server.php
# webpack.mix.js

